@keyframes _slideUp_1d2pk_1 {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0) rotateX(20deg) rotateY(10deg) rotate(5deg)
    }

    to {
        opacity: 1;
        transform: translateZ(0) rotateX(0) rotateY(0) rotate(0)
    }
}

@keyframes _underlineAnimation_1d2pk_1 {
    0% {
        width: 0
    }

    to {
        width: 100%
    }
}

._chapterContainer_1d2pk_19 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    position: relative;
    transition: opacity .3s ease, transform .3s ease;
    perspective: 1000px;
    transform-style: preserve-3d
}

._hideText_1d2pk_36 {
    opacity: 0;
    transform: translate3d(0, -30px, 0) rotateX(-15deg) rotateY(-5deg) rotate(-2deg);
    transition: opacity .3s ease, transform .3s ease
}

._centerWrapper_1d2pk_42 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    text-align: center
}

._chapter01Wrapper_1d2pk_51 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    color: #fff;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    position: relative;
    transition: opacity .3s ease, transform .3s ease;
    perspective: 1000px;
    transform-style: preserve-3d
}

._chapter01TextWrapper_1d2pk_68 {
    position: absolute;
    top: min(44.776119403vw, 180px)
}

@media (max-height: 750px) {
    ._chapter01TextWrapper_1d2pk_68 {
        top: min(24.8756218905vw, 100px)
    }
}

._btnContainerWrapper01_1d2pk_78 {
    transform: scale(.9);
    opacity: 0;
    animation: _slideUp_1d2pk_1 2s cubic-bezier(.215, .61, .355, 1) forwards;
    animation-delay: var(--delay, 0s);
    margin-top: -12.4378109453vw
}

._btnContainer01_1d2pk_86 {
    position: relative;
    margin: 0 auto;
    width: min(100vw, 402px);
    height: min(66.6666666667vw, 268px)
}

._btnBg01_1d2pk_93 {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: relative
}

._button01_1d2pk_101 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--Grayscale-Gray-100, #fff);
    text-align: center;
    font-family: GT Planar Trial;
    font-size: min(3.4825870647vw, 14px);
    font-style: normal;
    font-weight: 700;
    line-height: min(4.4776119403vw, 18px);
    letter-spacing: min(-.1393034826vw, -.56px);
    padding: 0;
    background: transparent;
    cursor: pointer;
    z-index: 1;
    margin: 0;
    border: none;
    height: min(16.9154228856vw, 68px);
    width: min(54.7263681592vw, 220px);
    border-radius: min(24.8756218905vw, 100px)
}

._chapter02Wrapper_1d2pk_127 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 29.8507462687vw;
    gap: 0vw;
    padding: 0 4.9751243781vw;
    width: calc(100% - 9.9502487562vw)
}

._chapter02TextWrapper_1d2pk_139 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 9.9502487562vw
}

._feature02Wrapper_1d2pk_148 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    transform: scale(.9);
    opacity: 0;
    animation: _slideUp_1d2pk_1 1s cubic-bezier(.215, .61, .355, 1) forwards;
    animation-delay: var(--delay, 0s)
}

._feature02Title_1d2pk_161 {
    color: var(--Point-Primary, #77ffba);
    text-align: center;
    text-shadow: 0px 0px 20px rgba(21, 246, 117, .7);
    font-family: The Qualified;
    font-size: 20.8955223881vw;
    font-style: normal;
    font-weight: 700;
    line-height: 20.8955223881vw
}

._feature02Unit_1d2pk_174 {
    font-size: 17.9104477612vw;
    line-height: 17.9104477612vw
}

._feature02DescriptionWrapper_1d2pk_179 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    margin-top: 2.9850746269vw;
    width: 100%
}

._feature02DescriptionDot_1d2pk_188 {
    width: .9950248756vw;
    height: .9950248756vw;
    background-color: var(--Point-Primary, #77ffba);
    box-shadow: 0 0 12px #6dbdcc;
    margin-right: 1.9900497512vw
}

._feature02Description_1d2pk_179 {
    color: var(--Grayscale-Gray-95, #e9e9e9);
    text-align: center;
    font-family: GT Planar Trial;
    font-size: 2.9850746269vw;
    font-style: normal;
    font-weight: 400;
    line-height: 3.9800995025vw;
    letter-spacing: -.0597014925vw
}

._chapter03TitleWrapper_1d2pk_208 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 9.9502487562vw);
    padding: 0 4.9751243781vw;
    padding-top: min(39.8009950249vw, 160px);
    position: absolute;
    top: 0
}

@media (max-height: 750px) {
    ._chapter03TitleWrapper_1d2pk_208 {
        padding-top: min(24.8756218905vw, 100px)
    }
}

._chapter03SubTitle_1d2pk_224 {
    text-shadow: 0px 0px 2.9850746269vw #6dbdcc;
    font-family: DePixel;
    font-size: 1.9900497512vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.9900497512vw;
    letter-spacing: .07960199vw;
    text-transform: uppercase;
    background: var(--Linear-Skyblue, linear-gradient(116deg, #45e3ff 13.67%, #dffaff 78.56%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(.9);
    opacity: 0;
    animation: _slideUp_1d2pk_1 1s cubic-bezier(.215, .61, .355, 1) forwards;
    animation-delay: var(--delay, 0s);
    margin-bottom: 2.9850746269vw
}

._chapter03Title_1d2pk_208 {
    color: var(--Grayscale-Gray-100, #fff);
    text-shadow: 0px 0px 2.9850746269vw #6dbdcc;
    font-family: The Qualified;
    font-size: 9.9502487562vw;
    font-style: normal;
    font-weight: 700;
    line-height: 9.9502487562vw;
    transform: scale(.9);
    opacity: 0;
    animation: _slideUp_1d2pk_1 1s cubic-bezier(.215, .61, .355, 1) forwards;
    animation-delay: var(--delay, 0s)
}

._chapter03Title_2_1d2pk_262 {
    color: var(--Grayscale-Gray-100, #fff);
    text-shadow: 0px 0px 2.9850746269vw #6dbdcc;
    font-family: The Qualified;
    font-size: 9.9502487562vw;
    font-style: normal;
    font-weight: 700;
    line-height: 9.9502487562vw;
    transform: scale(.9);
    opacity: 0;
    animation: _slideUp_1d2pk_1 1s cubic-bezier(.215, .61, .355, 1) forwards;
    animation-delay: var(--delay, 0s);
    margin-left: 14.9253731343vw
}

._logoSlideContainer_1d2pk_279 {
    position: relative;
    width: 100%;
    position: absolute;
    bottom: 69.6517412935vw;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0
}

._logoSlideContainer_1d2pk_279._animateSlide_1d2pk_288 {
    opacity: 1;
    transition: opacity .5s ease;
    transform: scale(.9);
    opacity: 0;
    animation: _fadeIn_1d2pk_1 1s cubic-bezier(.215, .61, .355, 1) forwards
}

._logoSlideContainer2_1d2pk_296 {
    position: relative;
    width: 100%;
    position: absolute;
    bottom: 49.7512437811vw;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0
}

._logoSlideContainer2_1d2pk_296._animateSlide_1d2pk_288 {
    opacity: 1;
    transition: opacity .5s ease;
    transform: scale(.9);
    opacity: 0;
    animation: _fadeIn_1d2pk_1 1s cubic-bezier(.215, .61, .355, 1) forwards
}

._logoSlideContainer3_1d2pk_313 {
    position: relative;
    width: 100%;
    position: absolute;
    bottom: 29.8507462687vw;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0
}

._logoSlideContainer3_1d2pk_313._animateSlide_1d2pk_288 {
    opacity: 1;
    transition: opacity .5s ease;
    transform: scale(.9);
    opacity: 0;
    animation: _fadeIn_1d2pk_1 1s cubic-bezier(.215, .61, .355, 1) forwards
}

._logoSlideTrack_1d2pk_330 {
    display: inline-block;
    animation: _slide_1d2pk_1 300s linear infinite;
    animation-play-state: paused
}

._animateSlide_1d2pk_288 ._logoSlideTrack_1d2pk_330 {
    animation-play-state: running
}

._logoSlideTrack_2_1d2pk_340 {
    display: inline-block;
    animation: _slide_2_1d2pk_1 300s linear infinite;
    animation-play-state: paused
}

._animateSlide_1d2pk_288 ._logoSlideTrack_2_1d2pk_340 {
    animation-play-state: running
}

._logoSlideItem_1d2pk_350 {
    display: inline-block
}

._logoSlideItem_1d2pk_350 img {
    height: 16.9154228856vw;
    vertical-align: middle;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none
}

@keyframes _slide_1d2pk_1 {
    0% {
        transform: translate(0)
    }

    to {
        transform: translate(-100%)
    }
}

@keyframes _slide_2_1d2pk_1 {
    0% {
        transform: translate(-100%)
    }

    to {
        transform: translate(0)
    }
}

._chapter06Container_1d2pk_380 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    bottom: 12.9353233831vw;
    padding: 0 4.9751243781vw;
    width: calc(100% - 9.9502487562vw);
    gap: 1.9900497512vw
}

._chapter06Box_1d2pk_392 {
    display: flex;
    width: 100%;
    height: 29.8507462687vw;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
    text-align: left;
    border-radius: 5.9701492537vw;
    border: 1px solid var(--Linear-Blur_line, rgba(255, 255, 255, .5));
    background: var(--Linear-Blur, radial-gradient(100% 100% at 50% 0%, rgba(20, 20, 20, .12) 0%, rgba(20, 20, 20, .03) 53.5%, rgba(20, 20, 20, .18) 100%));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    transform: scale(.9);
    opacity: 0;
    animation: _fadeIn_1d2pk_1 2s cubic-bezier(.215, .61, .355, 1) forwards;
    animation-delay: var(--delay, 0s)
}

._chapter06TitleText_1d2pk_415 {
    color: var(--Grayscale-Gray-100, #fff);
    text-shadow: 0px 0px 12px #6dbdcc;
    font-family: GT Planar Trial;
    font-size: 2.9850746269vw;
    font-style: normal;
    font-weight: 400;
    line-height: 3.9800995025vw;
    letter-spacing: -.0895522388vw;
    margin-left: 5.9701492537vw;
    margin-bottom: 2.4875621891vw
}

._chapter06TitleText_1d2pk_415 img {
    margin-left: -2.4875621891vw
}

._chapter06Box_1_img_1d2pk_433 {
    width: 6.9651741294vw;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none
}

._chapter06Box_2_img_1d2pk_443 {
    width: 7.960199005vw;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none
}

._chapter06Box_3_img_1d2pk_453 {
    width: 8.9552238806vw;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none
}

._chapter07Container_1d2pk_463 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    padding: 0 4.9751243781vw;
    padding-top: min(51.7412935323vw, 208px);
    width: calc(100% - 9.9502487562vw)
}

._chapter08Box_1d2pk_475 {
    display: flex;
    gap: 3.9800995025vw;
    width: calc(100% - 21.8905472637vw);
    padding: 9.9502487562vw 5.9701492537vw;
    position: absolute;
    bottom: 12.9353233831vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5.9701492537vw;
    flex-shrink: 0;
    text-align: center;
    border: 1px solid var(--Linear-Blur_line, rgba(255, 255, 255, .5));
    background: var(--Linear-Blur, radial-gradient(100% 100% at 50% 0%, rgba(20, 20, 20, .12) 0%, rgba(20, 20, 20, .03) 53.5%, rgba(20, 20, 20, .18) 100%));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    transform: scale(.9);
    opacity: 0;
    animation: _fadeIn_1d2pk_1 1s cubic-bezier(.215, .61, .355, 1) forwards;
    animation-delay: var(--delay, 0s)
}

._chapter08TitleText_1d2pk_500 {
    color: var(--Point-Pink, #ffa1e7);
    text-align: center;
    text-shadow: 0px 0px 3.7313432836vw #fb3eca;
    font-family: The Qualified;
    font-size: 7.960199005vw;
    font-style: normal;
    font-weight: 700;
    line-height: 9.4527363184vw
}

._chapter08SubTitleText_1d2pk_513 {
    color: #fff;
    text-align: center;
    text-shadow: 0px 0px 3.7313432836vw #fb3eca;
    font-family: GT Planar Trial;
    font-size: 2.9850746269vw;
    font-style: normal;
    font-weight: 400;
    line-height: 3.9800995025vw;
    letter-spacing: -.0597014925vw
}

._chapter10Wrapper_1d2pk_527 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    padding: 0 4.9751243781vw;
    padding-top: min(44.776119403vw, 180px);
    width: calc(100% - 9.9502487562vw)
}

@media (max-height: 850px) {
    ._chapter10Wrapper_1d2pk_527 {
        padding-top: min(24.8756218905vw, 100px)
    }
}

._chapter11Box_1d2pk_544 {
    display: flex;
    gap: 3.9800995025vw;
    width: calc(100% - 21.8905472637vw);
    padding: 9.9502487562vw 5.9701492537vw;
    position: absolute;
    bottom: 12.9353233831vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7.960199005vw;
    flex-shrink: 0;
    text-align: center;
    border: 1px solid var(--Linear-Blur_line, rgba(255, 255, 255, .5));
    background: var(--Linear-Blur, radial-gradient(100% 100% at 50% 0%, rgba(20, 20, 20, .12) 0%, rgba(20, 20, 20, .03) 53.5%, rgba(20, 20, 20, .18) 100%));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    transform: scale(.9);
    opacity: 0;
    animation: _fadeIn_1d2pk_1 1s cubic-bezier(.215, .61, .355, 1) forwards;
    animation-delay: var(--delay, 0s)
}

._chapter11TitleText_1d2pk_569 {
    color: var(--Point-Pink, #77ffba);
    text-align: center;
    text-shadow: 0px 0px 3.7313432836vw #76ffba;
    font-family: The Qualified;
    font-size: 7.960199005vw;
    font-style: normal;
    font-weight: 700;
    line-height: 9.4527363184vw
}

._chapter11SubTitleText_1d2pk_582 {
    color: #fff;
    text-align: center;
    text-shadow: 0px 0px 3.7313432836vw #76ffba;
    font-family: GT Planar Trial;
    font-size: 2.9850746269vw;
    font-style: normal;
    font-weight: 400;
    line-height: 3.9800995025vw;
    letter-spacing: -.0597014925vw
}

._chapter12Wrapper_1d2pk_596 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    color: #fff;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    position: relative;
    transition: opacity .3s ease, transform .3s ease;
    perspective: 1000px;
    transform-style: preserve-3d
}

._chapter12TextWrapper_1d2pk_613 {
    position: absolute;
    top: 44.776119403vw
}

._btnContainerWrapper12_1d2pk_618 {
    position: absolute;
    bottom: 14.9253731343vw;
    transform: scale(.9);
    opacity: 0;
    animation: _slideUp_1d2pk_1 2s cubic-bezier(.215, .61, .355, 1) forwards;
    animation-delay: var(--delay, 0s)
}

._btnContainer12_1d2pk_627 {
    position: relative;
    margin: 0 auto;
    width: min(100vw, 402px);
    height: min(66.6666666667vw, 268px)
}

._btnBg12_1d2pk_634 {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: relative
}

._button12_1d2pk_642 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--Grayscale-Gray-100, #fff);
    text-align: center;
    font-family: GT Planar Trial;
    font-size: min(3.4825870647vw, 14px);
    font-style: normal;
    font-weight: 700;
    line-height: min(4.4776119403vw, 18px);
    letter-spacing: min(-.1393034826vw, -.56px);
    padding: 0;
    background: transparent;
    cursor: pointer;
    z-index: 1;
    margin: 0;
    border: none;
    height: min(16.9154228856vw, 68px);
    width: min(54.7263681592vw, 220px);
    border-radius: min(24.8756218905vw, 100px)
}

._chapter13TitleWrapper_1d2pk_668 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 9.9502487562vw);
    padding: 25.8706467662vw 4.9751243781vw 0;
    position: absolute;
    top: 0
}

._chapter13TitleFixed_1d2pk_679 {
    color: var(--Grayscale-Gray-100, #fff);
    text-shadow: 0px 0px 4.9751243781vw rgba(255, 255, 255, .7);
    font-family: The Qualified;
    font-size: 7.960199005vw;
    font-style: normal;
    font-weight: 700;
    line-height: 9.4527363184vw
}

._chapter13Title_1d2pk_668 {
    color: var(--Grayscale-Gray-100, #fff);
    text-shadow: 0px 0px 4.9751243781vw rgba(255, 255, 255, .7);
    font-family: The Qualified;
    font-size: 7.960199005vw;
    font-style: normal;
    font-weight: 700;
    line-height: 9.4527363184vw;
    transform: scale(.9);
    opacity: 0;
    animation: _slideUp_1d2pk_1 1s cubic-bezier(.215, .61, .355, 1) forwards;
    animation-delay: var(--delay, 0s)
}

._chapter13Title_2_1d2pk_707 {
    color: var(--Point-Primary, #77ffba);
    text-shadow: 0px 0px 3.7313432836vw #76ffba;
    font-family: The Qualified Slanted;
    font-size: 7.960199005vw;
    font-style: normal;
    font-weight: 700;
    line-height: 7.960199005vw;
    transform: scale(.9);
    opacity: 0;
    animation: _slideUp_1d2pk_1 1s cubic-bezier(.215, .61, .355, 1) forwards;
    animation-delay: var(--delay, 0s)
}

._chapter13Box_1d2pk_723 {
    display: flex;
    gap: 1.9900497512vw;
    width: calc(100% - 21.8905472637vw);
    padding: 9.9502487562vw 5.9701492537vw;
    position: absolute;
    bottom: 12.9353233831vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5.9701492537vw;
    flex-shrink: 0;
    text-align: center;
    border: 1px solid var(--Linear-Blur_line, rgba(255, 255, 255, .5));
    background: var(--Linear-Blur, radial-gradient(100% 100% at 50% 0%, rgba(20, 20, 20, .12) 0%, rgba(20, 20, 20, .03) 53.5%, rgba(20, 20, 20, .18) 100%));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    transform: scale(.9);
    opacity: 0;
    animation: _fadeIn_1d2pk_1 1s cubic-bezier(.215, .61, .355, 1) forwards;
    animation-delay: var(--delay, 0s)
}

._chapter13TitleText_1d2pk_748 {
    color: var(--Grayscale-Gray-100, #fff);
    text-align: center;
    text-shadow: 0px 0px 7.4626865672vw rgba(255, 255, 255, .5);
    font-family: The Qualified;
    font-size: 5.9701492537vw;
    font-style: normal;
    font-weight: 700;
    line-height: 7.960199005vw
}

._chapter13SubTitleText_1d2pk_761 {
    color: var(--Grayscale-Gray-95, #e9e9e9);
    text-align: center;
    text-shadow: 0px 0px 2.9850746269vw #6dbdcc;
    font-family: GT Planar Trial;
    font-size: 2.9850746269vw;
    font-style: normal;
    font-weight: 400;
    line-height: 3.9800995025vw;
    letter-spacing: -.0597014925vw
}

._chapter13SubTitleText_2_1d2pk_775 {
    color: var(--Grayscale-Gray-95, #e9e9e9);
    text-align: center;
    font-family: GT Planar Trial;
    font-size: 2.9850746269vw;
    font-style: normal;
    font-weight: 400;
    line-height: 3.9800995025vw;
    letter-spacing: -.0597014925vw
}

._chapter15Container_1d2pk_788 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

._chapter15Box_1d2pk_795 {
    display: flex;
    gap: 3.9800995025vw;
    width: 248.7562189055vw;
    height: 50.7462686567vw;
    padding: 0;
    position: absolute;
    bottom: 32.8358208955vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7.960199005vw;
    flex-shrink: 0;
    text-align: center;
    border: 1px solid var(--Linear-Blur_line, rgba(255, 255, 255, .5));
    background: var(--Linear-Blur, radial-gradient(100% 100% at 50% 0%, rgba(20, 20, 20, .12) 0%, rgba(20, 20, 20, .03) 53.5%, rgba(20, 20, 20, .18) 100%));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    transform: scale(.9);
    opacity: 0;
    animation: _fadeIn_1d2pk_1 2s ease-in-out forwards;
    animation-delay: var(--delay, 0s)
}

._chapter15TitleText_1d2pk_821 {
    color: var(--Grayscale-Gray-100, #fff);
    text-align: center;
    text-shadow: 0px 0px 7.4626865672vw rgba(255, 255, 255, .5);
    font-family: The Qualified;
    font-size: 11.9402985075vw;
    font-style: normal;
    font-weight: 700;
    line-height: 13.9303482587vw
}

._chapter15SubTitleText_1d2pk_834 {
    color: var(--Grayscale-Gray-95, #e9e9e9);
    text-align: center;
    font-family: GT Planar Trial;
    font-size: 4.9751243781vw;
    font-style: normal;
    font-weight: 400;
    line-height: 6.4676616915vw
}

._chapter16Wrapper_1d2pk_846 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    color: #fff;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    position: relative;
    transition: opacity .3s ease, transform .3s ease;
    perspective: 1000px;
    transform-style: preserve-3d
}

._chapter16TextWrapper_1d2pk_863 {
    position: absolute;
    top: min(44.776119403vw, 180px)
}

._chapter16_1TitleWrapper_1d2pk_868 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 9.9502487562vw);
    padding-top: min(32.8358208955vw, 132px);
    position: absolute;
    top: 0
}

@media (max-height: 750px) {
    ._chapter16_1TitleWrapper_1d2pk_868 {
        padding-top: min(19.9004975124vw, 80px)
    }
}

._chapter16_1SubTitle_1d2pk_883 {
    text-shadow: 0px 0px 2.9850746269vw #a3ffd1;
    font-family: DePixel;
    font-size: 1.9900497512vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.9900497512vw;
    letter-spacing: .07960199vw;
    text-transform: uppercase;
    background: linear-gradient(116deg, #45e3ff 13.67%, #dffaff 78.56%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(.9);
    opacity: 0;
    animation: _slideUp_1d2pk_1 1s cubic-bezier(.215, .61, .355, 1) forwards;
    animation-delay: var(--delay, 0s);
    margin-bottom: 1.9900497512vw
}

._chapter16_1Title_1d2pk_868 {
    color: var(--Grayscale-Gray-100, #fff);
    text-shadow: 0px 0px 2.9850746269vw #6dbdcc;
    font-family: The Qualified;
    font-size: 7.960199005vw;
    font-style: normal;
    font-weight: 700;
    line-height: 9.4527363184vw;
    transform: scale(.9);
    opacity: 0;
    animation: _slideUp_1d2pk_1 1s cubic-bezier(.215, .61, .355, 1) forwards;
    animation-delay: var(--delay, 0s);
    padding-bottom: 3.9800995025vw;
    border-bottom: 2px solid rgba(52, 130, 255, .5);
    width: 100%;
    text-align: left
}

._chapter16_1LogoContainer_1d2pk_925 {
    transition: opacity .5s ease;
    transform: scale(.9);
    opacity: 0;
    animation: _fadeIn_1d2pk_1 1s cubic-bezier(.215, .61, .355, 1) forwards;
    animation-delay: var(--delay, 0s);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 7.4626865672vw;
    margin-top: 14.9253731343vw;
    width: 100%
}

._chapter16_1LogoContainer_1d2pk_925 img {
    width: calc(33.333% - 4.9751243781vw);
    max-width: 100px;
    height: auto;
    object-fit: contain
}

@media (min-width: 450px) {
    ._chapter16_1LogoContainer_1d2pk_925 img {
        width: 100px
    }
}

._chapter17TextWrapper_1d2pk_950 {
    position: absolute;
    top: min(44.776119403vw, 180px)
}

._chapter18Bg_1d2pk_955 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    transform: scale(.95);
    opacity: 0;
    animation: _fadeIn_1d2pk_1 2s ease-in-out forwards;
    animation-delay: var(--delay, 0s)
}

._chapter18TitleWrapper_1d2pk_971 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    position: absolute;
    top: min(33.0845771144vw, 133px);
    padding: 0 4.9751243781vw;
    width: calc(100% - 9.9502487562vw)
}

._chapter18Title_1d2pk_971 {
    color: var(--Grayscale-Gray-100, #fff);
    text-shadow: 0px 0px 3.7313432836vw #67bb91;
    font-family: The Qualified;
    font-size: 7.960199005vw;
    font-style: normal;
    font-weight: 700;
    line-height: 9.4527363184vw;
    transform: scale(.9);
    opacity: 0;
    animation: _slideUp_1d2pk_1 3s cubic-bezier(.215, .61, .355, 1) forwards;
    animation-delay: var(--delay, 0s)
}

._chapter18TitleWrapper_2_1d2pk_998 {
    display: flex;
    position: absolute;
    bottom: min(29.8507462687vw, 120px)
}

._btnContainerWrapper18_1d2pk_1004 {
    position: absolute;
    bottom: min(29.8507462687vw, 120px);
    transform: scale(.9);
    opacity: 0;
    animation: _slideUp_1d2pk_1 2s cubic-bezier(.215, .61, .355, 1) forwards;
    animation-delay: var(--delay, 0s)
}

._btnContainer18_1d2pk_1013 {
    position: relative;
    width: min(68.6567164179vw, 276px);
    height: min(30.8457711443vw, 124px);
    transform: scale(.9);
    opacity: 0;
    animation: _fadeIn_1d2pk_1 1s cubic-bezier(.215, .61, .355, 1) forwards;
    animation-delay: var(--delay, 0s)
}

._btnBg18_1d2pk_1023 {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: relative
}

._button18_1d2pk_1031 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--Grayscale-Gray-100, #fff);
    text-align: center;
    font-family: GT Planar Trial;
    font-size: min(3.4825870647vw, 14px);
    font-style: normal;
    font-weight: 700;
    line-height: min(4.4776119403vw, 18px);
    letter-spacing: min(-.1393034826vw, -.56px);
    padding: 0;
    background: transparent;
    cursor: pointer;
    z-index: 1;
    margin: 0;
    border: none;
    width: min(56.7164179104vw, 228px);
    height: min(18.9054726368vw, 76px);
    border-radius: min(24.8756218905vw, 100px)
}

._footerContainer_1d2pk_1057 {
    position: absolute;
    bottom: 0vw;
    width: calc(100% - 1.9900497512vw);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .9950248756vw;
    opacity: 0;
    animation: _fadeIn_1d2pk_1 2s ease-in-out forwards;
    animation-delay: var(--delay, 0s)
}

._copyright_1d2pk_1070 {
    color: var(--Grayscale-Gray-100, #fff);
    text-align: center;
    text-shadow: 0px 0px 2.9850746269vw #6dbdcc;
    font-family: GT Planar;
    font-size: 1.9900497512vw;
    font-style: normal;
    font-weight: 400;
    line-height: 2.9850746269vw;
    letter-spacing: -.039800995vw;
    opacity: 0;
    animation: _fadeIn_1d2pk_1 2s ease-in-out forwards;
    animation-delay: var(--delay, 0s);
    margin-right: 1.9900497512vw;
    margin-top: .4975124378vw
}

._socialIcons_1d2pk_1089 {
    display: flex;
    gap: 2px;
    align-items: center
}

._socialIcon_1d2pk_1089 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    transition: opacity .3s ease
}

._socialIcon_1d2pk_1089:hover {
    opacity: .7
}

._socialIcon_1d2pk_1089 img {
    width: 100%;
    height: 100%;
    object-fit: contain
}

@keyframes _fadeIn_1d2pk_1 {
    0% {
        opacity: 0;
        transform: translateY(20px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

._description_x8md2_1 {
    position: relative;
    margin: 0;
    perspective: 1000px;
    transform-style: preserve-3d;
    color: var(--Grayscale-Gray-95, #e9e9e9);
    text-align: center;
    text-shadow: 0px 0px 2.9850746269vw #6dbdcc;
    font-family: GT Planar Trial;
    font-size: 2.9850746269vw;
    font-style: normal;
    font-weight: 400;
    line-height: 3.9800995025vw;
    letter-spacing: -.0597014925vw;
    margin-top: 4.9751243781vw
}

._text_x8md2_20 {
    display: block;
    text-align: center;
    position: relative;
    opacity: 0;
    transform: translate3d(0, 27.3631840796vw, 0);
    transition: opacity .5s cubic-bezier(.23, 1, .32, 1), transform .5s cubic-bezier(.23, 1, .32, 1);
    will-change: opacity, transform;
    transform-style: preserve-3d
}

._btnContainer_x8md2_31 {
    position: relative;
    width: 124.3781094527vw;
    height: 72.1393034826vw;
    margin-top: -9.9502487562vw
}

._btnContainer_2_x8md2_38 {
    position: relative;
    width: 124.3781094527vw;
    height: 72.1393034826vw;
    margin-top: -9.9502487562vw;
    margin-left: 184.07960199vw
}

._btnBg_x8md2_46 {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: relative
}

._button_x8md2_54 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--Grayscale-Gray-100, #fff);
    text-align: center;
    font-family: GT Planar Trial;
    font-size: 4.9751243781vw;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -.1990049751vw;
    padding: 0;
    background: transparent;
    cursor: pointer;
    z-index: 1;
    margin: 0;
    border: none;
    height: 22.3880597015vw;
    width: 74.6268656716vw;
    border-radius: 24.8756218905vw
}

._chapter05Description_x8md2_79 {
    align-items: center;
    display: flex;
    flex-direction: column
}

._chapter10Description_x8md2_85 {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 5.9701492537vw;
    color: var(--Grayscale-Gray-95, #e9e9e9);
    text-shadow: 0px 0px 2.9850746269vw #6dbdcc;
    font-family: GT Planar Trial;
    font-size: 3.4825870647vw;
    font-style: normal;
    font-weight: 700;
    line-height: 4.4776119403vw;
    letter-spacing: -.0696517413vw
}

._chapter10Description_2_x8md2_102 {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 2.9850746269vw;
    color: var(--Grayscale-Gray-95, #e9e9e9);
    text-shadow: 0px 0px 2.9850746269vw #6dbdcc;
    font-family: GT Planar Trial;
    font-size: 2.9850746269vw;
    font-style: normal;
    font-weight: 400;
    line-height: 3.9800995025vw;
    letter-spacing: -.0597014925vw
}

._chapter12Description_x8md2_119 {
    color: var(--Grayscale-Gray-95, #e9e9e9);
    text-shadow: 0px 0px 2.9850746269vw #6dbdcc;
    font-family: GT Planar Trial;
    font-size: 2.9850746269vw;
    font-style: normal;
    font-weight: 700;
    line-height: 3.9800995025vw;
    letter-spacing: -.0597014925vw
}

._chapter20Description_x8md2_132 {
    margin-top: 9.9502487562vw
}

._eyebrow_kru3g_1 {
    --eyebrow-progress: 0;
    opacity: var(--eyebrow-progress);
    transform: translate3d(0, calc(80px * (1 - var(--eyebrow-progress))), 0);
    perspective: 1000px;
    transform-style: preserve-3d;
    align-items: center;
    will-change: opacity, transform;
    position: relative;
    text-align: center;
    font-family: DePixel;
    font-size: 2.4875621891vw;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4875621891vw;
    letter-spacing: .3980099502vw;
    text-transform: uppercase;
    background: var(--Linear-Skyblue, linear-gradient(116deg, #45e3ff 13.67%, #dffaff 78.56%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 7.960199005vw;
    display: flex;
    gap: 4.9751243781vw;
    justify-content: center
}

._ractangle_kru3g_30 {
    width: .9950248756vw;
    height: .9950248756vw;
    background: var(--Point-Secondary, #a5face);
    box-shadow: 0 0 12px #6dbdcc
}

._opacityByLetter_870gw_1 {
    display: inline-block;
    position: relative;
    opacity: 0;
    transition: opacity .5s, transform .5s;
    transform-style: preserve-3d
}

._opacityByLetter_870gw_1._italic_870gw_8 {
    font-family: The Qualified Slanted;
    position: relative
}

._opacityByLetter_870gw_1._space_870gw_12 {
    width: .3em
}

._chapter01Title_870gw_16,
._chapter01Title_2_870gw_28,
._chapter05Title_870gw_40,
._chapter05Title_2_870gw_52 {
    color: var(--Point-Primary, #77ffba);
    text-shadow: 0px 0px 4.9751243781vw rgba(21, 246, 117, .7);
    font-family: The Qualified;
    font-size: 14.9253731343vw;
    font-style: normal;
    font-weight: 700;
    line-height: 14.9253731343vw
}

._chapter07Title_870gw_64,
._chapter07Title_2_870gw_76 {
    color: var(--Grayscale-Gray-100, #fff);
    text-shadow: 0px 0px 4.9751243781vw rgba(255, 255, 255, .7);
    font-family: The Qualified;
    font-size: 5.9701492537vw;
    font-style: normal;
    font-weight: 700;
    line-height: 7.960199005vw
}

._chapter09Title_870gw_88 {
    color: var(--Grayscale-Gray-100, #fff);
    text-shadow: 0px 0px 3.7313432836vw #76ffba;
    font-family: The Qualified;
    font-size: 17.9104477612vw;
    font-style: normal;
    font-weight: 700;
    line-height: 18.9054726368vw
}

._chapter09Title_2_870gw_100 {
    color: var(--Grayscale-Gray-100, #fff);
    text-shadow: 0px 0px 3.7313432836vw #76ffba;
    font-family: The Qualified Slanted;
    font-size: 17.9104477612vw;
    font-style: normal;
    font-weight: 700;
    line-height: 18.9054726368vw;
    margin-bottom: 109.4527363184vw
}

._chapter10Title_870gw_113,
._chapter10Title_2_870gw_125 {
    color: var(--Point-Primary, #77ffba);
    text-shadow: 0px 0px 4.9751243781vw rgba(21, 246, 117, .7);
    font-family: The Qualified;
    font-size: 14.9253731343vw;
    font-style: normal;
    font-weight: 700;
    line-height: 14.9253731343vw
}

._chapter12Title_870gw_137,
._chapter12Title_2_870gw_149 {
    color: var(--Grayscale-Gray-100, #fff);
    text-shadow: 0px 0px 4.9751243781vw rgba(255, 255, 255, .5);
    font-family: The Qualified;
    font-size: 14.9253731343vw;
    font-style: normal;
    font-weight: 700;
    line-height: 14.9253731343vw
}

._chapter13Title_870gw_161 {
    color: #fff;
    text-align: center;
    text-shadow: 0px 0px 4.9751243781vw rgba(255, 255, 255, .7);
    font-family: The Qualified;
    font-size: 17.9104477612vw;
    font-style: normal;
    font-weight: 700;
    line-height: 18.9054726368vw
}

._chapter13Title_2_870gw_173 {
    color: #fff;
    text-align: center;
    text-shadow: 0px 0px 4.9751243781vw rgba(255, 255, 255, .7);
    font-family: The Qualified Slanted;
    font-size: 17.9104477612vw;
    font-style: normal;
    font-weight: 700;
    line-height: 18.9054726368vw
}

._chapter14Title_870gw_185 {
    color: var(--Grayscale-Gray-100, #fff);
    text-align: center;
    font-family: The Qualified;
    font-size: 37.3134328358vw;
    font-style: normal;
    font-weight: 700;
    line-height: 37.3134328358vw
}

._chapter14Title_2_870gw_207 {
    color: var(--Grayscale-Gray-100, #fff);
    text-align: center;
    font-family: The Qualified Slanted;
    font-size: 37.3134328358vw;
    font-style: normal;
    font-weight: 700;
    line-height: 37.3134328358vw
}

._chapter16Title_870gw_218 {
    color: var(--Point-Primary, #77ffba);
    text-shadow: 0px 0px 4.9751243781vw rgba(21, 246, 117, .7);
    font-family: The Qualified;
    font-size: 14.9253731343vw;
    font-style: normal;
    font-weight: 700;
    line-height: 14.9253731343vw
}

._chapter16Title_2_870gw_230 {
    color: var(--Point-Primary, #77ffba);
    text-shadow: 0px 0px 4.9751243781vw rgba(21, 246, 117, .7);
    font-family: The Qualified Slanted;
    font-size: 14.9253731343vw;
    font-style: normal;
    font-weight: 700;
    line-height: 14.9253731343vw
}

._chapter18Title_870gw_242 {
    color: var(--Point-Primary, #77ffba);
    text-shadow: 0px 0px 4.9751243781vw rgba(21, 246, 117, .7);
    font-family: The Qualified;
    font-size: 46.7661691542vw;
    font-style: normal;
    font-weight: 700;
    line-height: 42.7860696517vw;
    margin-right: 19.9004975124vw
}

._chapter18Title_2_870gw_255 {
    color: var(--Point-Primary, #77ffba);
    text-shadow: 0px 0px 4.9751243781vw rgba(21, 246, 117, .7);
    font-family: The Qualified;
    font-size: 46.7661691542vw;
    font-style: normal;
    font-weight: 700;
    line-height: 42.7860696517vw;
    margin-left: 114.4278606965vw
}

._chapter20Title_870gw_268,
._chapter20Title_2_870gw_280 {
    color: var(--Point-Primary, #77ffba);
    text-shadow: 0px 0px 4.9751243781vw rgba(21, 246, 117, .7);
    font-family: The Qualified;
    font-size: 37.3134328358vw;
    font-style: normal;
    font-weight: 700;
    line-height: 37.3134328358vw
}

._rootSection_1ugf7_1 {
    overscroll-behavior-y: contain;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    font-family: The Qualified, sans-serif
}

._homeSection_1ugf7_14 {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    font-family: The Qualified, sans-serif
}

._header_uxtsm_1 {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 9.9502487562vw);
    z-index: 1000;
    padding: 4.9751243781vw;
    transition: background-color 1.5s ease
}

._headerContent_uxtsm_11 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto
}

* {
    -webkit-tap-highlight-color: transparent
}

a,
button,
[role=button],
input,
label,
select,
textarea {
    outline: none
}

a:focus,
button:focus,
[role=button]:focus,
input:focus,
label:focus,
select:focus,
textarea:focus {
    outline: none
}

._logo_uxtsm_41 {
    cursor: pointer;
    z-index: 1000
}

._logo_uxtsm_41 img {
    height: 9.2039800995vw;
    width: auto;
    cursor: pointer;
    user-drag: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none
}

._menuIcon_uxtsm_55,
._closeIcon_uxtsm_56 {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0vw;
    transition: transform 1.5s ease;
    animation: _fadeIn_uxtsm_1 1.5s ease-in-out
}

._menuIcon_uxtsm_55:hover,
._closeIcon_uxtsm_56:hover {
    transform: scale(1.05)
}

._menuIcon_uxtsm_55 img,
._closeIcon_uxtsm_56 img {
    width: 24.8756218905vw;
    cursor: pointer;
    user-drag: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none
}

@keyframes _fadeIn_uxtsm_1 {
    0% {
        opacity: 1;
        transform: scale(1)
    }

    50% {
        opacity: 0;
        transform: scale(0)
    }

    to {
        opacity: 1;
        transform: scale(1)
    }
}

._disabled_uxtsm_92 {
    pointer-events: none;
    opacity: .3
}

._menuBgOverlay_uxtsm_97 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #00000080;
    animation: _fadeIn_uxtsm_1 1.5s ease
}

._menuBgOverlay_uxtsm_97._disappearing_uxtsm_106 {
    animation: _fadeOut_uxtsm_1 1.5s ease
}

._menuOverlay_uxtsm_110 {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(113deg, #060725 13.48%, #171b5c 92.68%);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: right;
    animation: _slideIn_uxtsm_1 1.5s cubic-bezier(.4, 0, .2, 1)
}

._menuOverlay_uxtsm_110._disappearing_uxtsm_106 {
    left: 0;
    animation: _slideOut_uxtsm_1 1.5s cubic-bezier(.4, 0, .2, 1)
}

._menuContent_uxtsm_130 {
    width: 100%;
    height: 100%;
    animation: _fadeIn_uxtsm_1 1.5s cubic-bezier(.4, 0, .2, 1)
}

._menuContent_uxtsm_130._disappearing_uxtsm_106 {
    animation: _fadeOut_uxtsm_1 1.5s cubic-bezier(.4, 0, .2, 1)
}

._menuContent_uxtsm_130 h2 {
    position: relative;
    margin: 28.855721393vw 0 7.960199005vw 5.9701492537vw;
    overflow: hidden;
    white-space: nowrap;
    color: #77ffba;
    text-shadow: 0px 0px 6px #77ffba;
    font-family: DePixel;
    font-size: 3.2338308458vw;
    font-style: normal;
    font-weight: 400;
    line-height: 3.4825870647vw;
    letter-spacing: .5174129353vw;
    text-transform: uppercase
}

._menuSection_uxtsm_154 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5.9701492537vw;
    padding-inline-start: 0;
    cursor: pointer;
    list-style: none
}

._menuSection_uxtsm_154 li {
    width: 100%;
    border-bottom: 1px solid rgba(52, 130, 255, .5);
    transition: all 1s ease;
    cursor: pointer
}

._menuItem_uxtsm_171 {
    display: flex;
    padding-left: 5.9701492537vw;
    padding-bottom: 5.9701492537vw;
    align-items: flex-start;
    gap: 4.9751243781vw;
    cursor: pointer;
    white-space: nowrap
}

._menuItem_uxtsm_171 ._menuNumber_uxtsm_180 {
    text-shadow: 0px 0px 12px #6dbdcc;
    font-family: DePixel;
    font-size: 3.2338308458vw;
    font-style: normal;
    font-weight: 400;
    line-height: 3.4825870647vw;
    letter-spacing: .5174129353vw;
    text-transform: uppercase;
    background: var(--Linear-Skyblue, linear-gradient(116deg, #45e3ff 13.67%, #dffaff 78.56%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

._menuItem_uxtsm_171 ._menuName_uxtsm_194 {
    color: #fff;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, .7);
    font-family: The Qualified;
    font-size: 7.960199005vw;
    font-style: normal;
    font-weight: 700;
    line-height: 9.4527363184vw;
    transition: all .3s ease
}

._aside_uxtsm_205 {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    width: 115.4228855721vw;
    height: calc(100vh - 79.6019900498vw);
    padding: 39.8009950249vw 16.9154228856vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    z-index: 1000;
    overflow: hidden;
    border-radius: 9.9502487562vw 0px 0px 9.9502487562vw;
    background: linear-gradient(139deg, #00378e66 9.27%, #45896766 93.22%);
    -webkit-backdrop-filter: blur(3.9800995025vw);
    backdrop-filter: blur(3.9800995025vw);
    animation: _asideSlideIn_uxtsm_1 1.5s forwards;
    transform-origin: right
}

._aside_uxtsm_205._disappearing_uxtsm_106 {
    animation: _asideSlideOut_uxtsm_1 1.5s cubic-bezier(.4, 0, .2, 1), _fadeOut_uxtsm_1 1.5s ease
}

._asideInner_uxtsm_229 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5.9701492537vw;
    align-self: stretch;
    animation: _fadeIn_uxtsm_1 1.5s ease
}

._asideInner_uxtsm_229._disappearing_uxtsm_106 {
    animation: _fadeOut_uxtsm_1 1.5s ease
}

._asideSectionTitle_uxtsm_241 {
    width: 100%;
    padding: 0px 0px 3.9800995025vw 2.9850746269vw;
    border-bottom: 1px solid #45e3ff;
    margin: 0;
    color: #fff;
    text-align: center;
    font-family: The Qualified;
    font-size: 9.9502487562vw;
    font-weight: 700;
    line-height: 11.9402985075vw
}

._asideSectionBox_uxtsm_254 {
    display: flex;
    padding: 0 12px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    align-self: stretch
}

._asideSectionBox_uxtsm_254 img {
    width: 100%;
    border-radius: 20px
}

._newsTitle_uxtsm_267 {
    color: #fff;
    font-family: The Qualified;
    font-size: 5.9701492537vw;
    font-weight: 700;
    line-height: 7.960199005vw
}

._newsContent_uxtsm_275 {
    align-self: stretch;
    color: #ddd;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    max-height: 19.9004975124vw;
    font-family: GT Planar;
    font-size: 2.9850746269vw;
    font-weight: 400;
    line-height: 3.9800995025vw;
    letter-spacing: -.0597014925vw
}

._newsMore_uxtsm_290 {
    align-self: stretch;
    color: #a5face;
    cursor: pointer;
    font-family: GT Planar;
    font-size: 2.9850746269vw;
    font-weight: 400;
    line-height: 3.9800995025vw;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font
}

._socialBox_uxtsm_306 {
    display: grid;
    padding: 0px 2.9850746269vw;
    grid-template-columns: repeat(4, 1fr);
    gap: 4.9751243781vw;
    align-self: stretch
}

._socialBox_uxtsm_306 ._socialItem_uxtsm_313 {
    display: flex;
    align-items: center;
    gap: 2.9850746269vw;
    flex: 1 0 0;
    cursor: pointer
}

._socialBox_uxtsm_306 ._socialItem_uxtsm_313 img {
    width: 4.9751243781vw;
    height: 4.9751243781vw
}

._socialBox_uxtsm_306 ._socialItem_uxtsm_313 span {
    color: #fff;
    font-family: GT Planar;
    font-size: 2.9850746269vw;
    font-weight: 400;
    line-height: 3.9800995025vw;
    letter-spacing: -.0597014925vw;
    margin-top: .7462686567vw
}

@keyframes _fadeIn_uxtsm_1 {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes _fadeOut_uxtsm_1 {
    0% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes _slideIn_uxtsm_1 {
    0% {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes _slideOut_uxtsm_1 {
    0% {
        width: 100%
    }

    to {
        width: 0
    }
}

@keyframes _asideSlideIn_uxtsm_1 {
    0% {
        width: 0
    }

    to {
        width: 115.4228855721vw
    }
}

@keyframes _asideSlideOut_uxtsm_1 {
    0% {
        width: 115.4228855721vw;
        transform: translate(0)
    }

    to {
        width: 0;
        transform: translate(-100vw)
    }
}

._backgroundVideo_15o86_1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1
}

._scrollIndicator_15o86_11 {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #000000b3;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;
    font-size: 14px
}

._active_15o86_23 {
    opacity: 1
}

._inactive_15o86_27 {
    opacity: 0
}